/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

h1, h2, h3 {
    text-transform: none !important;
}

.div-padding{
    padding-top: 50px;
} 
h5{
    display: inline; 
    float: left;
} 
.img2{
    display:inline; float: left;
} 
.navbar-brand2{
    padding: 0px;
} 
.span-font{
    font-family: Baloo,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-weight: lighter; 
    font-size: 110%; 
    text-transform: lowercase;
}
.link-change a:focus,a:hover{
    color: #990000;
}
/* FEATURETTE
-------------------------------------------------- */
/*.featurette-divider {
	margin: 30px 0;  Space out the bootstrap <hr> tag some more
}*/

/* Thin out the featurette headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin-bottom: 15px;
}


/* PROJECT DETAILS CONTENT
-------------------------------------------------- */

/* Center align the text within the columns */
.project-details {
    text-align:center;
}


/* HIGHLIGHT COLOUR
--------------------------------------------------*/
::selection {
    background-color: #352e7e;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #352e7e;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #352e7e;
    color: #fff;
}

::-ms-selection {
    background-color: #352e7e;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #352e7e;
    color: #fff;
}


/* MEET THE TEAM CONTENT
-------------------------------------------------- */
.img-center {
    margin: 0px auto;
}
.ul-padding{
    padding-bottom: 20px;
}
.div-padding{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: center;
}

/* Profile image component
-------------------------------------------------- */
.team-header-container {
    text-align: center;
    overflow: hidden;
}

.team-header-img {
    width: 75%;
    height: auto;
    border-radius: 27px;
}

.profile-header-img > img.img-circle {
    width: 169px;
    height: 180px;
    border: 4px solid #990000;
}

.profile-header-img > p.text-muted {
    padding-top: 10px;
    font-size: 18px;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    font-size: 20px;
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(153,0,0);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}


/* Social Buttons Component
-------------------------------------------------- */
ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #990000;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #db0000;
}


/* Blog Stuff
-------------------------------------------------- */
.PageNavigation1, .PageNavigation2 {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation1 a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation2 a {
    display: block;
    width: 50%;
    float: right;
    margin: 1em 0;
}


/* Footer
-------------------------------------------------- */
#footer {   
   bottom:0;
   width:100%;
   height:0px;   /* Height of the footer */   
   text-align: center;
   background-color: #000;
   padding-top: 25px;
}
.footer-text{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}