<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--noptimize--><!--
        This site was designed by 
        ||       |     ||\          /|
        ||       |     || \        / |
        ||       |     ||  \      /  |
        ||       |     ||   \    /   |
        ||=======|     ||    \  /    |
        ||       |     ||     \/     |
        ||       |     ||            |
        ||       |  ■  ||            | ■
        https://www.linkedin.com/in/hanan-maryil/
        --><!--noptimize-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        

        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
        <!-- Custom CSS -->
        <link href="/css/main.css" rel="stylesheet">
        <!-- Blog Theme CSS -->
        <link href="/css/clean-blog.min.css" rel="stylesheet">
        <!-- Navbar CSS -->
        <link href="/css/nav.min.css" rel="stylesheet">
        <!-- JS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Custom Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Baloo|Raleway" rel="stylesheet">
        <!--Emoji Css-->
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

        <link href="/css/hover.css" rel="stylesheet" media="all">
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        
        <!-- Navigation -->
        <nav id="fixed-navbar" class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    
                    <a class="navbar-brand page-scroll link-change" href="/index.html">
                        <span><img src="/images/background/nav_justLogo.png" href="" class="navbar-brand2" width="14%" style="cursor:pointer;"></span><span class="span-font">mniNav</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden link-change">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll link-change" href="/index.html">Home</a>
                        </li>   
                        <li>
                            <a class="page-scroll link-change" href="/blog/index.html">Blog</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        {% if page.header_content != null %}
            {{ page.header_content }}
        {% endif %}

        <!-- REST OF THE CONTENT -->
        <div class="container">
        {{ content }}
        </div><!-- /.container -->

        <!--Footer-->
        <footer id="footer">
            <div>
                <p class="footer-text">OmniNav &copy 2016-2017 ALL RIGHTS RESERVED &#10033; Website and Graphics Designed by Hanan and Hans Maryil</p>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Custom JS -->
        
        <script src="/js/main.js"></script>
    </body>

</html>