---
layout: default
---

<div class="post">
    {{ content }}
</div>

<hr>

<div class="PageNavigation">
  {% if page.previous.url %}    
    <a href="{{page.previous.url}}">
    	<button class="prev btn btn-primary btn-danger button-style">
    		<span class="glyphicon glyphicon-circle-arrow-left"></span> {{page.previous.title}}
    	</button>
    </a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}">
    	<button class="next btn btn-primary btn-danger button-style2"> {{page.next.title}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
    	</button>
    </a>
    
  {% endif %}
</div>