---
layout: default
---

<div class="post">
    {{ content }}
</div>

<hr>

<div class="PageNavigation">
  {% if page.previous.url %}    
    <a href="{{page.previous.url}}">
    	<button class="prev btn btn-primary btn-danger button-style">
    		<a href="{{page.previous.url}}"><span class="glyphicon glyphicon-circle-arrow-left"></span> {{page.previous.title}} </a>
    	</button>
    </a>
  {% endif %}
  {% if page.next.url %}
 	<button class="next btn btn-primary btn-danger button-style2"><a href="{{page.next.url}}"> {{page.next.title}} <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
	</button>
    
    
  {% endif %}
</div>