---
layout: default
---

<div class="post">
    {{ content }}
</div>

<hr>

<div class="PageNavigation">
  {% if page.previous.url %}    
    <a href="{{page.previous.url}}" class="prev btn btn-primary btn-danger"><span class="glyphicon glyphicon-hand-left"></span> {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}" class="next btn btn-primary btn-danger"> {{page.next.title}} <span class="glyphicon glyphicon-hand-right"></span></a>
  {% endif %}
</div>